-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: sacramentify
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `actas`
--

DROP TABLE IF EXISTS `actas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `actas` (
  `cve_actas` int(11) NOT NULL AUTO_INCREMENT,
  `numero_consecutivo` int(11) DEFAULT NULL,
  `cve_persona` int(11) DEFAULT NULL,
  `cve_persona2` int(11) DEFAULT NULL,
  `Per_cve_padrino1` int(11) DEFAULT NULL,
  `Per_cve_madrina1` int(11) DEFAULT NULL,
  `cve_ermitas` int(11) DEFAULT NULL,
  `cve_sacerdotes_celebrante` int(11) DEFAULT NULL,
  `cve_sacerdotes_asistente` int(11) DEFAULT NULL,
  `cve_obispos_celebrante` int(11) DEFAULT NULL,
  `Per_cve_padrino` int(11) DEFAULT NULL,
  `Per_cve_madrina` int(11) DEFAULT NULL,
  `Per_cve_padre` int(11) DEFAULT NULL,
  `Per_cve_madre1` int(11) DEFAULT NULL,
  `fecha` datetime DEFAULT NULL,
  `Per_cve_madre` int(11) DEFAULT NULL,
  `Per_cve_padre1` int(11) DEFAULT NULL,
  `Libro` varchar(100) DEFAULT NULL,
  `Fojas` int(11) DEFAULT NULL,
  `Folio` int(11) DEFAULT NULL,
  `tipo_acta` int(11) DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`cve_actas`),
  KEY `cve_persona` (`cve_persona`),
  KEY `cve_ermitas` (`cve_ermitas`),
  KEY `cve_sacerdotes_celebrante` (`cve_sacerdotes_celebrante`),
  KEY `cve_sacerdotes_asistente` (`cve_sacerdotes_asistente`),
  KEY `cve_obispos_celebrante` (`cve_obispos_celebrante`),
  KEY `Per_cve_padrino` (`Per_cve_padrino`),
  KEY `Per_cve_madrina` (`Per_cve_madrina`),
  KEY `Per_cve_padre` (`Per_cve_padre`),
  KEY `Per_cve_madre1` (`Per_cve_madre1`),
  KEY `Per_cve_madre` (`Per_cve_madre`),
  KEY `Per_cve_padre1` (`Per_cve_padre1`),
  KEY `tipo_acta` (`tipo_acta`),
  KEY `fk_persona2` (`cve_persona2`),
  KEY `fk_padrino1` (`Per_cve_padrino1`),
  KEY `fk_madrina1` (`Per_cve_madrina1`),
  KEY `actas_deleted_at_index` (`deleted_at`),
  KEY `actas_numero_consecutivo_index` (`numero_consecutivo`),
  CONSTRAINT `actas_ibfk_1` FOREIGN KEY (`cve_persona`) REFERENCES `personas` (`cve_persona`),
  CONSTRAINT `actas_ibfk_10` FOREIGN KEY (`Per_cve_madre`) REFERENCES `personas` (`cve_persona`),
  CONSTRAINT `actas_ibfk_11` FOREIGN KEY (`Per_cve_padre1`) REFERENCES `personas` (`cve_persona`),
  CONSTRAINT `actas_ibfk_12` FOREIGN KEY (`tipo_acta`) REFERENCES `sacramentos` (`cve_sacramentos`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `actas_ibfk_2` FOREIGN KEY (`cve_ermitas`) REFERENCES `ermitas` (`cve_ermitas`),
  CONSTRAINT `actas_ibfk_3` FOREIGN KEY (`cve_sacerdotes_celebrante`) REFERENCES `sacerdotes` (`cve_sacerdotes`),
  CONSTRAINT `actas_ibfk_4` FOREIGN KEY (`cve_sacerdotes_asistente`) REFERENCES `sacerdotes` (`cve_sacerdotes`),
  CONSTRAINT `actas_ibfk_5` FOREIGN KEY (`cve_obispos_celebrante`) REFERENCES `obispos` (`cve_obispos`),
  CONSTRAINT `actas_ibfk_6` FOREIGN KEY (`Per_cve_padrino`) REFERENCES `personas` (`cve_persona`),
  CONSTRAINT `actas_ibfk_7` FOREIGN KEY (`Per_cve_madrina`) REFERENCES `personas` (`cve_persona`),
  CONSTRAINT `actas_ibfk_8` FOREIGN KEY (`Per_cve_padre`) REFERENCES `personas` (`cve_persona`),
  CONSTRAINT `actas_ibfk_9` FOREIGN KEY (`Per_cve_madre1`) REFERENCES `personas` (`cve_persona`),
  CONSTRAINT `fk_madrina1` FOREIGN KEY (`Per_cve_madrina1`) REFERENCES `personas` (`cve_persona`),
  CONSTRAINT `fk_padrino1` FOREIGN KEY (`Per_cve_padrino1`) REFERENCES `personas` (`cve_persona`),
  CONSTRAINT `fk_persona2` FOREIGN KEY (`cve_persona2`) REFERENCES `personas` (`cve_persona`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `actas`
--

LOCK TABLES `actas` WRITE;
/*!40000 ALTER TABLE `actas` DISABLE KEYS */;
INSERT INTO `actas` VALUES (4,1,1,NULL,3,2,2,3,NULL,2,NULL,NULL,5,NULL,'2025-08-02 00:00:00',7,NULL,'1',2,3,2,'2025-08-05 13:07:24'),(5,1,1,2,3,12,2,3,NULL,2,4,NULL,5,14,'2025-08-02 00:00:00',15,10,'2',3,4,1,'2025-08-05 13:07:26'),(15,1,1,2,3,12,2,3,3,2,8,13,4,14,'2025-08-05 00:00:00',15,10,'2',3,4,1,NULL),(16,2,4,12,NULL,NULL,2,3,3,2,NULL,NULL,NULL,NULL,'2025-08-06 00:00:00',NULL,NULL,'5',6,7,1,NULL);
/*!40000 ALTER TABLE `actas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `diocesis`
--

DROP TABLE IF EXISTS `diocesis`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `diocesis` (
  `cve_diocesis` int(11) NOT NULL AUTO_INCREMENT,
  `cve_obispos` int(11) DEFAULT NULL,
  `cve_municipios` int(11) DEFAULT NULL,
  `nombre` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`cve_diocesis`),
  KEY `cve_obispos` (`cve_obispos`),
  KEY `cve_municipios` (`cve_municipios`),
  CONSTRAINT `diocesis_ibfk_1` FOREIGN KEY (`cve_obispos`) REFERENCES `obispos` (`cve_obispos`),
  CONSTRAINT `diocesis_ibfk_2` FOREIGN KEY (`cve_municipios`) REFERENCES `municipios` (`cve_municipios`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `diocesis`
--

LOCK TABLES `diocesis` WRITE;
/*!40000 ALTER TABLE `diocesis` DISABLE KEYS */;
INSERT INTO `diocesis` VALUES (2,2,4,'Diocesis de Tabasco');
/*!40000 ALTER TABLE `diocesis` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ermitas`
--

DROP TABLE IF EXISTS `ermitas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ermitas` (
  `cve_ermitas` int(11) NOT NULL AUTO_INCREMENT,
  `cve_parroquias` int(11) DEFAULT NULL,
  `cve_municipios` int(11) DEFAULT NULL,
  `nombre` varchar(100) DEFAULT NULL,
  `latitud` decimal(10,8) DEFAULT NULL,
  `longitud` decimal(11,8) DEFAULT NULL,
  `direccion_completa` text DEFAULT NULL,
  `google_place_id` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`cve_ermitas`),
  KEY `cve_parroquias` (`cve_parroquias`),
  KEY `cve_municipios` (`cve_municipios`),
  KEY `ermitas_ubicacion_index` (`latitud`,`longitud`),
  CONSTRAINT `ermitas_ibfk_1` FOREIGN KEY (`cve_parroquias`) REFERENCES `parroquias` (`cve_parroquias`),
  CONSTRAINT `ermitas_ibfk_2` FOREIGN KEY (`cve_municipios`) REFERENCES `municipios` (`cve_municipios`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ermitas`
--

LOCK TABLES `ermitas` WRITE;
/*!40000 ALTER TABLE `ermitas` DISABLE KEYS */;
INSERT INTO `ermitas` VALUES (2,2,1,'El Se├▒or de La Salud',17.75944300,-92.59270700,'Calle Ignacio L├│pez Ray├│n, 86706 Macuspana, Tabasco, M├®xico',NULL);
/*!40000 ALTER TABLE `ermitas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `estados`
--

DROP TABLE IF EXISTS `estados`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `estados` (
  `cve_estados` int(11) NOT NULL,
  `nombre` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`cve_estados`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `estados`
--

LOCK TABLES `estados` WRITE;
/*!40000 ALTER TABLE `estados` DISABLE KEYS */;
/*!40000 ALTER TABLE `estados` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `eventos`
--

DROP TABLE IF EXISTS `eventos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `eventos` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `titulo` varchar(255) NOT NULL,
  `descripcion` text DEFAULT NULL,
  `tipo` enum('platica','bautizo','confirmacion','matrimonio','otro') NOT NULL,
  `fecha_inicio` datetime NOT NULL,
  `fecha_fin` datetime NOT NULL,
  `todo_el_dia` tinyint(1) NOT NULL DEFAULT 0,
  `estado` enum('pendiente','confirmado','cancelado','completado') NOT NULL DEFAULT 'pendiente',
  `color` varchar(7) NOT NULL DEFAULT '#3498db',
  `user_id` bigint(20) unsigned NOT NULL,
  `sacerdote_id` bigint(20) unsigned DEFAULT NULL,
  `ermita_id` bigint(20) unsigned DEFAULT NULL,
  `padre_id` bigint(20) unsigned DEFAULT NULL,
  `madre_id` bigint(20) unsigned DEFAULT NULL,
  `persona_principal_id` bigint(20) unsigned DEFAULT NULL,
  `padrino_id` bigint(20) unsigned DEFAULT NULL,
  `madrina_id` bigint(20) unsigned DEFAULT NULL,
  `bautizo_id` bigint(20) unsigned DEFAULT NULL,
  `confirmacion_id` bigint(20) unsigned DEFAULT NULL,
  `matrimonio_id` bigint(20) unsigned DEFAULT NULL,
  `platica_id` bigint(20) unsigned DEFAULT NULL,
  `personas_involucradas` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`personas_involucradas`)),
  `notas` text DEFAULT NULL,
  `contacto_email` varchar(255) DEFAULT NULL,
  `contacto_telefono` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `eventos_user_id_foreign` (`user_id`),
  KEY `eventos_sacerdote_id_index` (`sacerdote_id`),
  KEY `eventos_ermita_id_index` (`ermita_id`),
  KEY `eventos_fecha_inicio_index` (`fecha_inicio`),
  KEY `eventos_tipo_index` (`tipo`),
  KEY `eventos_estado_index` (`estado`),
  KEY `eventos_padre_id_index` (`padre_id`),
  KEY `eventos_madre_id_index` (`madre_id`),
  KEY `eventos_persona_principal_id_index` (`persona_principal_id`),
  KEY `eventos_padrino_id_index` (`padrino_id`),
  KEY `eventos_madrina_id_index` (`madrina_id`),
  CONSTRAINT `eventos_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `eventos`
--

LOCK TABLES `eventos` WRITE;
/*!40000 ALTER TABLE `eventos` DISABLE KEYS */;
INSERT INTO `eventos` VALUES (1,'prueba 6',NULL,'bautizo','2025-08-14 01:06:00','2025-08-24 01:06:00',1,'completado','#3498db',2,3,2,8,12,3,8,12,NULL,NULL,NULL,7,NULL,NULL,'adrianagm291104@gmail.com','9361105394','2025-08-05 13:07:02','2025-08-05 13:07:06');
/*!40000 ALTER TABLE `eventos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `failed_jobs`
--

DROP TABLE IF EXISTS `failed_jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `failed_jobs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `uuid` varchar(255) NOT NULL,
  `connection` text NOT NULL,
  `queue` text NOT NULL,
  `payload` longtext NOT NULL,
  `exception` longtext NOT NULL,
  `failed_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `failed_jobs_uuid_unique` (`uuid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `failed_jobs`
--

LOCK TABLES `failed_jobs` WRITE;
/*!40000 ALTER TABLE `failed_jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `failed_jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `migrations` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(255) NOT NULL,
  `batch` int(11) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `model_has_permissions`
--

DROP TABLE IF EXISTS `model_has_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `model_has_permissions` (
  `permission_id` bigint(20) unsigned NOT NULL,
  `model_type` varchar(255) NOT NULL,
  `model_id` bigint(20) unsigned NOT NULL,
  PRIMARY KEY (`permission_id`,`model_id`,`model_type`),
  KEY `model_has_permissions_model_id_model_type_index` (`model_id`,`model_type`),
  CONSTRAINT `model_has_permissions_permission_id_foreign` FOREIGN KEY (`permission_id`) REFERENCES `permissions` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `model_has_permissions`
--

LOCK TABLES `model_has_permissions` WRITE;
/*!40000 ALTER TABLE `model_has_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `model_has_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `model_has_roles`
--

DROP TABLE IF EXISTS `model_has_roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `model_has_roles` (
  `role_id` bigint(20) unsigned NOT NULL,
  `model_type` varchar(255) NOT NULL,
  `model_id` bigint(20) unsigned NOT NULL,
  PRIMARY KEY (`role_id`,`model_id`,`model_type`),
  KEY `model_has_roles_model_id_model_type_index` (`model_id`,`model_type`),
  CONSTRAINT `model_has_roles_role_id_foreign` FOREIGN KEY (`role_id`) REFERENCES `roles` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `model_has_roles`
--

LOCK TABLES `model_has_roles` WRITE;
/*!40000 ALTER TABLE `model_has_roles` DISABLE KEYS */;
/*!40000 ALTER TABLE `model_has_roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `municipios`
--

DROP TABLE IF EXISTS `municipios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `municipios` (
  `cve_municipios` int(11) NOT NULL AUTO_INCREMENT,
  `cve_estados` int(11) DEFAULT NULL,
  `nombre` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`cve_municipios`),
  KEY `cve_estados` (`cve_estados`),
  CONSTRAINT `municipios_ibfk_1` FOREIGN KEY (`cve_estados`) REFERENCES `estados` (`cve_estados`)
) ENGINE=InnoDB AUTO_INCREMENT=27018 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `municipios`
--

LOCK TABLES `municipios` WRITE;
/*!40000 ALTER TABLE `municipios` DISABLE KEYS */;
INSERT INTO `municipios` VALUES (1,27,'Macuspana'),(2,27,'C├írdenas'),(3,27,'Centla'),(4,27,'Centro'),(5,27,'Comalcalco'),(6,27,'Cunduac├ín'),(7,27,'Emiliano Zapata'),(8,27,'Huimanguillo'),(9,27,'Jalapa'),(10,27,'Jalpa de M├®ndez'),(11,27,'Jonuta'),(12,27,'Nacajuca'),(13,27,'Para├¡so'),(14,27,'Tacotalpa'),(15,27,'Teapa'),(16,27,'Tenosique'),(17,27,'Balanc├ín');
/*!40000 ALTER TABLE `municipios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `obispos`
--

DROP TABLE IF EXISTS `obispos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `obispos` (
  `cve_obispos` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) DEFAULT NULL,
  `paterno` varchar(100) DEFAULT NULL,
  `materno` varchar(100) DEFAULT NULL,
  `fecha_ordenacion` datetime DEFAULT NULL,
  PRIMARY KEY (`cve_obispos`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `obispos`
--

LOCK TABLES `obispos` WRITE;
/*!40000 ALTER TABLE `obispos` DISABLE KEYS */;
INSERT INTO `obispos` VALUES (2,'Monse├▒or','Gerardo','de Jes├║s Rojas L├│pez','2004-08-24 00:00:00');
/*!40000 ALTER TABLE `obispos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `parroquias`
--

DROP TABLE IF EXISTS `parroquias`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `parroquias` (
  `cve_parroquias` int(11) NOT NULL AUTO_INCREMENT,
  `cve_diocesis` int(11) DEFAULT NULL,
  `cve_municipios` int(11) DEFAULT NULL,
  `nombre` varchar(100) DEFAULT NULL,
  `latitud` decimal(10,8) DEFAULT NULL,
  `longitud` decimal(11,8) DEFAULT NULL,
  `direccion_completa` text DEFAULT NULL,
  `google_place_id` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`cve_parroquias`),
  KEY `cve_diocesis` (`cve_diocesis`),
  KEY `cve_municipios` (`cve_municipios`),
  KEY `idx_parroquias_location` (`latitud`,`longitud`),
  CONSTRAINT `parroquias_ibfk_1` FOREIGN KEY (`cve_diocesis`) REFERENCES `diocesis` (`cve_diocesis`),
  CONSTRAINT `parroquias_ibfk_2` FOREIGN KEY (`cve_municipios`) REFERENCES `municipios` (`cve_municipios`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `parroquias`
--

LOCK TABLES `parroquias` WRITE;
/*!40000 ALTER TABLE `parroquias` DISABLE KEYS */;
INSERT INTO `parroquias` VALUES (2,2,1,'Parroquia San Isidro Labrador',17.75987100,-92.59196900,'Calle Jos├® Mar├¡a Morelos Y Pav├│n 219, 86706 Macuspana, Tabasco, M├®xico',NULL);
/*!40000 ALTER TABLE `parroquias` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `password_reset_tokens`
--

DROP TABLE IF EXISTS `password_reset_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `password_reset_tokens` (
  `email` varchar(255) NOT NULL,
  `token` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_reset_tokens`
--

LOCK TABLES `password_reset_tokens` WRITE;
/*!40000 ALTER TABLE `password_reset_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `password_reset_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `password_resets`
--

DROP TABLE IF EXISTS `password_resets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `password_resets` (
  `email` varchar(255) NOT NULL,
  `token` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  KEY `password_resets_email_index` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_resets`
--

LOCK TABLES `password_resets` WRITE;
/*!40000 ALTER TABLE `password_resets` DISABLE KEYS */;
/*!40000 ALTER TABLE `password_resets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payment_packages`
--

DROP TABLE IF EXISTS `payment_packages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `payment_packages` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `description` text DEFAULT NULL,
  `credits_amount` int(11) NOT NULL,
  `price` decimal(10,2) NOT NULL,
  `currency` varchar(3) NOT NULL DEFAULT 'USD',
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `sort_order` int(11) NOT NULL DEFAULT 0,
  `features` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`features`)),
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `payment_packages_is_active_sort_order_index` (`is_active`,`sort_order`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payment_packages`
--

LOCK TABLES `payment_packages` WRITE;
/*!40000 ALTER TABLE `payment_packages` DISABLE KEYS */;
/*!40000 ALTER TABLE `payment_packages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payments`
--

DROP TABLE IF EXISTS `payments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `payments` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned NOT NULL,
  `payment_package_id` bigint(20) unsigned NOT NULL,
  `stripe_payment_intent_id` varchar(255) DEFAULT NULL,
  `stripe_session_id` varchar(255) DEFAULT NULL,
  `status` enum('pending','processing','succeeded','failed','canceled') NOT NULL DEFAULT 'pending',
  `amount` decimal(10,2) NOT NULL,
  `currency` varchar(3) NOT NULL DEFAULT 'USD',
  `credits_purchased` int(11) NOT NULL,
  `stripe_metadata` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`stripe_metadata`)),
  `paid_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `payments_stripe_payment_intent_id_unique` (`stripe_payment_intent_id`),
  KEY `payments_payment_package_id_foreign` (`payment_package_id`),
  KEY `payments_user_id_status_index` (`user_id`,`status`),
  KEY `payments_stripe_payment_intent_id_index` (`stripe_payment_intent_id`),
  KEY `payments_status_index` (`status`),
  CONSTRAINT `payments_payment_package_id_foreign` FOREIGN KEY (`payment_package_id`) REFERENCES `payment_packages` (`id`) ON DELETE CASCADE,
  CONSTRAINT `payments_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payments`
--

LOCK TABLES `payments` WRITE;
/*!40000 ALTER TABLE `payments` DISABLE KEYS */;
/*!40000 ALTER TABLE `payments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `permissions`
--

DROP TABLE IF EXISTS `permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `permissions` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `guard_name` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `permissions_name_guard_name_unique` (`name`,`guard_name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `permissions`
--

LOCK TABLES `permissions` WRITE;
/*!40000 ALTER TABLE `permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `personal_access_tokens`
--

DROP TABLE IF EXISTS `personal_access_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `personal_access_tokens` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `tokenable_type` varchar(255) NOT NULL,
  `tokenable_id` bigint(20) unsigned NOT NULL,
  `name` varchar(255) NOT NULL,
  `token` varchar(64) NOT NULL,
  `abilities` text DEFAULT NULL,
  `last_used_at` timestamp NULL DEFAULT NULL,
  `expires_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `personal_access_tokens_token_unique` (`token`),
  KEY `personal_access_tokens_tokenable_type_tokenable_id_index` (`tokenable_type`,`tokenable_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `personal_access_tokens`
--

LOCK TABLES `personal_access_tokens` WRITE;
/*!40000 ALTER TABLE `personal_access_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `personal_access_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `personas`
--

DROP TABLE IF EXISTS `personas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `personas` (
  `cve_persona` int(11) NOT NULL AUTO_INCREMENT,
  `cve_municipios` int(11) DEFAULT NULL,
  `nombre` varchar(40) DEFAULT NULL,
  `paterno` varchar(40) DEFAULT NULL,
  `materno` varchar(40) DEFAULT NULL,
  `fecha_nacimiento` datetime DEFAULT NULL,
  `sexo` tinyint(1) DEFAULT NULL,
  `direccion` varchar(100) DEFAULT NULL,
  `telefono` varchar(10) DEFAULT NULL,
  PRIMARY KEY (`cve_persona`),
  KEY `cve_municipios` (`cve_municipios`),
  CONSTRAINT `personas_ibfk_1` FOREIGN KEY (`cve_municipios`) REFERENCES `municipios` (`cve_municipios`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `personas`
--

LOCK TABLES `personas` WRITE;
/*!40000 ALTER TABLE `personas` DISABLE KEYS */;
/*!40000 ALTER TABLE `personas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `platicas`
--

DROP TABLE IF EXISTS `platicas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `platicas` (
  `cve_platicas` int(11) NOT NULL AUTO_INCREMENT,
  `padre` int(11) DEFAULT NULL,
  `madre` int(11) DEFAULT NULL,
  `nombre` varchar(50) DEFAULT NULL,
  `fecha` datetime DEFAULT NULL,
  PRIMARY KEY (`cve_platicas`),
  KEY `padre` (`padre`),
  KEY `madre` (`madre`),
  CONSTRAINT `platicas_ibfk_1` FOREIGN KEY (`padre`) REFERENCES `personas` (`cve_persona`),
  CONSTRAINT `platicas_ibfk_2` FOREIGN KEY (`madre`) REFERENCES `personas` (`cve_persona`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `platicas`
--

LOCK TABLES `platicas` WRITE;
/*!40000 ALTER TABLE `platicas` DISABLE KEYS */;
INSERT INTO `platicas` VALUES (1,1,2,'Platica sobre Primeras Comuniones','2025-07-20 00:00:00'),(2,1,2,'Pl├ítica de prueba desde test','2025-07-21 00:00:00'),(3,1,2,'Platica prueba 2','2025-07-20 00:00:00'),(4,1,2,'Matrimonio: Prueba de matrimonio','2025-08-05 00:00:00'),(5,5,7,'Bautizo: Prueba de Bautizo','2025-08-16 00:00:00'),(6,3,7,'Confirmaci├│n: Prueba Confirmacion','2025-08-25 00:00:00'),(7,8,12,'Bautizo: prueba 6','2025-08-14 00:00:00');
/*!40000 ALTER TABLE `platicas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `role_has_permissions`
--

DROP TABLE IF EXISTS `role_has_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `role_has_permissions` (
  `permission_id` bigint(20) unsigned NOT NULL,
  `role_id` bigint(20) unsigned NOT NULL,
  PRIMARY KEY (`permission_id`,`role_id`),
  KEY `role_has_permissions_role_id_foreign` (`role_id`),
  CONSTRAINT `role_has_permissions_permission_id_foreign` FOREIGN KEY (`permission_id`) REFERENCES `permissions` (`id`) ON DELETE CASCADE,
  CONSTRAINT `role_has_permissions_role_id_foreign` FOREIGN KEY (`role_id`) REFERENCES `roles` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `role_has_permissions`
--

LOCK TABLES `role_has_permissions` WRITE;
/*!40000 ALTER TABLE `role_has_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `role_has_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `roles`
--

DROP TABLE IF EXISTS `roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `roles` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `guard_name` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `roles_name_guard_name_unique` (`name`,`guard_name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `roles`
--

LOCK TABLES `roles` WRITE;
/*!40000 ALTER TABLE `roles` DISABLE KEYS */;
/*!40000 ALTER TABLE `roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sacerdotes`
--

DROP TABLE IF EXISTS `sacerdotes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sacerdotes` (
  `cve_sacerdotes` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) DEFAULT NULL,
  `paterno` varchar(100) DEFAULT NULL,
  `materno` varchar(100) DEFAULT NULL,
  `fecha_ordenacion` datetime DEFAULT NULL,
  PRIMARY KEY (`cve_sacerdotes`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sacerdotes`
--

LOCK TABLES `sacerdotes` WRITE;
/*!40000 ALTER TABLE `sacerdotes` DISABLE KEYS */;
INSERT INTO `sacerdotes` VALUES (3,'Rosalinda','De La Cruz','Ascensi├│n',NULL);
/*!40000 ALTER TABLE `sacerdotes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sacramentos`
--

DROP TABLE IF EXISTS `sacramentos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sacramentos` (
  `cve_sacramentos` int(11) NOT NULL,
  `nombre` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`cve_sacramentos`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sacramentos`
--

LOCK TABLES `sacramentos` WRITE;
/*!40000 ALTER TABLE `sacramentos` DISABLE KEYS */;
INSERT INTO `sacramentos` VALUES (1,'Matrimonio'),(2,'Bautizo'),(3,'Confirmacion');
/*!40000 ALTER TABLE `sacramentos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_credits`
--

DROP TABLE IF EXISTS `user_credits`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `user_credits` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned NOT NULL,
  `available_credits` int(11) NOT NULL DEFAULT 0,
  `used_credits` int(11) NOT NULL DEFAULT 0,
  `total_credits` int(11) NOT NULL DEFAULT 0,
  `last_reset_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `user_credits_user_id_index` (`user_id`),
  CONSTRAINT `user_credits_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_credits`
--

LOCK TABLES `user_credits` WRITE;
/*!40000 ALTER TABLE `user_credits` DISABLE KEYS */;
INSERT INTO `user_credits` VALUES (1,2,48,2,50,NULL,'2025-08-03 05:40:05','2025-08-06 13:16:11'),(2,7,0,0,0,NULL,'2025-08-03 06:56:46','2025-08-05 13:09:56'),(3,4,0,0,0,NULL,'2025-08-03 07:11:38','2025-08-05 13:09:56');
/*!40000 ALTER TABLE `user_credits` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `google_id` varchar(255) DEFAULT NULL,
  `avatar` varchar(255) DEFAULT NULL,
  `is_admin` tinyint(1) NOT NULL DEFAULT 0,
  `email_verified_at` timestamp NULL DEFAULT NULL,
  `password` varchar(255) NOT NULL,
  `remember_token` varchar(100) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `users_email_unique` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-08-06 19:46:52
